/* Content Styling */
.my-store-content {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--ion-background-color);
    min-height: 100vh;
}

/* Content Styling */
ion-content {
    --background: var(--ion-background-color) !important;
}

/* Make IonList background transparent */
ion-list {
    background: transparent !important;
}
