/* Modal styling */
.product-form-modal {
    --width: 100%;
    --border-radius: 16px 16px 0 0;
    --box-shadow: 0 -4px 16px rgba(var(--ion-color-text-rgb), 0.1);
    --height: 80%;
}

ion-toolbar {
    --background: var(--ion-color-light);
    --border-radius: 16px 16px 0 0;
    box-shadow: 0 -2px 10px rgba(var(--ion-color-text-rgb), 0.05);
}

/* Form styling */
.form-list {
    background: transparent;
    padding: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    padding-left: 4px;
}


.form-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;
    margin-bottom: 8px;
    --highlight-height: 1px;
}

.form-input {
    padding-start: 12px;
    padding-end: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: var(--ion-color-light);
    border-radius: 8px;
    placeholder-color: var(--ion-color-medium);
    font-size: 16px;
    margin-top: 12px;
}

.form-select {
    width: 100%;
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    margin-top: 12px;
}


.add-ons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 4px;
}

.add-on-chip {
    --background: var(--ion-color-light);
    --color: var(--ion-color-text);
    width: 100%;
    border-radius: 16px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-on-name {
    font-weight: 500;
}

.add-on-price {
    color: var(--ion-color-medium);
    font-size: 14px;
}

.remove-add-on {
    color: var(--ion-color-danger);
    cursor: pointer;
    font-size: 18px;
}

.add-on-form {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-add-on-button {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    height: 100%;
    margin: 0;
}

/* Size and Price Section */
.size-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.size-item ion-select,
.size-item ion-input {
    flex: 1;
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    background: var(--ion-color-light);
    border-radius: 8px;
}

.size-item .remove-size-button {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    height: auto;
    width: auto;
    font-size: 24px;
    color: var(--ion-color-danger);
}

.add-size-button {
    margin-top: 10px;
    --border-radius: 8px;
}


/* Availability toggle */
.availability-item {
    --inner-padding-end: 0;
    --background: transparent;
    border-radius: 8px;
}

.availability-toggle {
    --background: var(--ion-color-medium);
    --background-checked: var(--ion-color-success);
    --handle-background: var(--ion-color-light);
    --handle-background-checked: var();
}

/* Footer styling */

ion-footer {
    --background: var(--ion-color-light);
    box-shadow: 0 -2px 4px rgba(var(--ion-color-text-rgb), 0.1); /* Subtle shadow for depth */
}

.save-button {
    --border-radius: 12px;
    margin: 20px 20px 35px;
}
.select-group-label-option {
    .alert-checkbox-icon {
        display: none;
    }

    .alert-checkbox-label {
        padding-left: 10px;
    }
}
