/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
    /** primary - Deep Forest Green (#0F4C3A) **/
    --ion-color-primary: #0F4C3A;
    --ion-color-primary-rgb: 15, 76, 58;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0d4332;
    --ion-color-primary-tint: #275e4e;

    /** secondary - Spicy Orange (#FF6B35) **/
    --ion-color-secondary: #FF6B35;
    --ion-color-secondary-rgb: 255, 107, 53;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e05e2f;
    --ion-color-secondary-tint: #ff7a49;

    /** tertiary - Golden Mustard (#FFD23F) **/
    --ion-color-tertiary: #FFD23F;
    --ion-color-tertiary-rgb: 255, 210, 63;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e0b937;
    --ion-color-tertiary-tint: #ffd652;

    /** success - Fresh Basil (#2AA952) **/
    --ion-color-success: #2AA952;
    --ion-color-success-rgb: 42, 169, 82;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #259448;
    --ion-color-success-tint: #3fba63;

    /** warning - Ripe Corn (#FFD700) **/
    --ion-color-warning: #FFD700;
    --ion-color-warning-rgb: 255, 215, 0;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bd00;
    --ion-color-warning-tint: #ffdb1a;

    /** danger - Tomato Red (#EB4A3A) **/
    --ion-color-danger: #EB4A3A;
    --ion-color-danger-rgb: 235, 74, 58;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf4133;
    --ion-color-danger-tint: #ed5c4e;

    /** dark - Charcoal Grey **/
    --ion-color-dark: #2B2B2B;
    --ion-color-dark-rgb: 43, 43, 43;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #262626;
    --ion-color-dark-tint: #404040;

    /** medium - Stone Grey **/
    --ion-color-medium: #8C8C8C;
    --ion-color-medium-rgb: 140, 140, 140;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #7b7b7b;
    --ion-color-medium-tint: #989898;

    /** light - Cream White **/
    --ion-color-light: #F8F4E6;
    --ion-color-light-rgb: 248, 244, 230;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #dad7cc;
    --ion-color-light-tint: #f9f5e9;

    /* Step colors for backgrounds */
    --ion-color-step-50: #f3f3f3;
    --ion-color-step-100: #e6e6e6;
    --ion-color-step-150: #d9d9d9;
}

/*
 * Dark Colors
 * -----------------------------------------------------
 */

body.dark-theme {
    --ion-color-primary: #1A7A5E;
    --ion-color-primary-rgb: 26, 122, 94;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-shade: #176b53;
    --ion-color-primary-tint: #31876e;

    --ion-color-secondary: #FF8C5A;
    --ion-color-secondary-rgb: 255, 140, 90;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-shade: #e07b4f;
    --ion-color-secondary-tint: #ff986b;

    --ion-color-tertiary: #FFE082;
    --ion-color-tertiary-rgb: 255, 224, 130;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-shade: #e0c572;
    --ion-color-tertiary-tint: #ffe38f;

    --ion-color-success: #3CC76A;
    --ion-color-success-rgb: 60, 199, 106;
    --ion-color-success-contrast: #000000;
    --ion-color-success-shade: #35af5e;
    --ion-color-success-tint: #50cd79;

    --ion-color-warning: #FFE44D;
    --ion-color-warning-rgb: 255, 228, 77;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-shade: #e0c944;
    --ion-color-warning-tint: #ffe75f;

    --ion-color-danger: #FF6655;
    --ion-color-danger-rgb: 255, 102, 85;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-shade: #e05a4b;
    --ion-color-danger-tint: #ff7566;

    --ion-color-dark: #1A1A1A;
    --ion-color-light: #2E2E2E;

    /* Dark theme step colors */
    --ion-color-step-50: #333333;
    --ion-color-step-100: #404040;
    --ion-color-step-150: #4d4d4d;
}
