/* Styles for the Profile Page - Redesigned */

/* Profile Header Area */
.profile-header {
    /* Increased padding */
    padding: 80px 20px 30px;
    background: var(--ion-color-secondary); /* Use primary color for header background */
    display: flex;
    height: 180px;
    justify-content: space-between; /* Space out info and button */
}

.profile-info-container {
    display: flex;
    align-items: center;
}

.profile-avatar {
    width: 80px; /* Larger avatar */
    height: 80px;
    margin-right: 15px;
    border: 3px solid var(--ion-color-primary-contrast); /* Add a border around the avatar */
    box-shadow: 0 2px 8px rgba(var(--ion-color-primary-contrast), 0.2); /* Subtle shadow for depth */
}

.profile-avatar img {
    object-fit: cover;
}

.profile-name-container {
    display: flex;
    flex-direction: column; /* Stack name and potential subtitle */
}

.profile-name {
    font-size: 1.6em; /* Larger name font */
    font-weight: bold;
    margin: 0;
    color: var(--ion-color-primary-contrast); /* Name color */
}

/* Style for potential subtitle/email */
.profile-name-container ion-note {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
}

.edit-profile-button {
    color: var(--ion-color-primary-contrast);
}

.create-store-container {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.create-store-container ion-label {
    font-size: 1.4em; /* Larger label text */
    text-align: center;
}

.create-store-container ion-button {
    --border-radius: 12px; /* Rounded corners */
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    max-width: 300px; /* Limit max width for larger screens */
    font-size: 1.1em; /* Slightly larger text */
    --padding-top: 16px; /* Increased padding for larger button */
    --padding-bottom: 16px;
}