.schedule-form-modal {
    --border-radius: 16px 16px 0 0;
    --box-shadow: 0 -4px 16px rgba(var(--ion-color-text-rgb), 0.1);
}

.form-section {
    margin: 20px 0;
    border-radius: 8px; /* Rounded corners for sections */
}

.section-label {
    display: block;
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 20px;
}

.form-input {
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --background: var(--ion-color-light);
    --border-radius: 8px;
    --placeholder-color: var(--ion-color-medium);
    font-size: 16px;
}

/* Styling for the calendar */
.schedule-calendar {

}

.schedule-calendar::part(calendar-day) {
    /* Style individual calendar days if needed */
}

.schedule-calendar::part(calendar-day-active) {
    /* Style selected calendar days */
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    border-radius: 50%; /* Make selected days rounded */
}


.days-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0;
}

.time-selection-container {
    margin-top: 12px;
}

.time-input-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

ion-datetime-button {
    --padding-start: 12px;
    --padding-end: 12px;
    flex: 1;
}

ion-datetime-button::part(native) {
    background: var(--ion-color-light);
    border-radius: 8px;
    padding: 12px;
    transition: background 0.2s ease;
}

ion-datetime-button:hover::part(native) {
    background: var(--ion-color-step-50);
}


.products-list ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;
}

/* Styling for category headers and dividers */
.category-header {
    font-weight: bold;
    border-bottom: 1px solid rgba(var(--ion-color-text-rgb), 0.8);
    margin-bottom: 12px;
    height: 10px;
}


ion-footer {
    --background: var(--ion-color-light);
    box-shadow: 0 -2px 4px rgba(var(--ion-color-text-rgb), 0.1); /* Subtle shadow for depth */
}

.save-button {
    --border-radius: 12px;
    margin: 20px 20px 35px;
}

/* Style time picker buttons */
ion-datetime::part(time-button) {
    color: var(--ion-color-primary);
    font-weight: 500;
}

/* Chip styling */
ion-chip {
    transition: all 0.2s ease;
    --background: var(--ion-color-light);
    --color: var(--ion-color-medium);
}

ion-chip[outline="false"] {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}
